

.messagesBlock{
    display: grid;
    background: cornsilk;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    font-size: 20px;
    grid-template-areas: 'u  d' 'u  m' 'u  m';
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;

}

.users{
    padding: 5px;
    text-align: center;
    grid-area: u;
    border-right: 1px solid #333333;
}

.dialogs{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
    text-align: start;
    grid-area: d;
    margin: 20px;
    justify-content: space-evenly;

}

.sendMessage{
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendMessage textarea{
    padding: 10px;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    resize: none;
}

.user__name{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 10px 5px;
    background: cornsilk;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    transition: .3s;

}

.user__name:hover{
    transform: scale(0.9);
}

.user__name a{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user__name img{

}

.user__avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.dialog{
    background-color: antiquewhite;
    padding: 15px;
    border: 1px solid #333333;
    border-radius: 5px;
    margin-right: 15px;
}

.dialog__item{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 10px;
}

.dialogs2{
    display: flex;
    align-items: flex-end;
}

.dialogs2 .dialog__item{
    display: flex;
    flex-direction: row-reverse;
}

.dialog2 .user__avatar{
    padding-left: 15px;
}

.dialog__block{
    max-height: 770px;
    overflow-y: scroll;
    overflow-x: hidden;
}